* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
}

:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --main-color: #7cf03d;
  --white-color: #fff;
  --disabled-color: #fff3;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--white-color);
  background-color: var(--second-bg-color);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 3rem;
  color: var(--white-color);
  font-weight: 700;
}

nav a {
  font-size: 2rem;
  color: var(--white-color);
  font-weight: 500;
  margin-left: 3.5rem;
  transition: 0.5s;
}

nav a:hover,
nav a.active {
  color: var(--main-color);
}

#menu-icon {
  font-size: 3.5rem;
}

.contact-container {
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  gap: 4rem;
}

.contact-container .contact-box:first-child {
  align-items: center;
}

.contact-box h2 {
  font-size: 4.5rem;
  margin-left: 9rem;
  margin-top: 9rem;
}

.contact-box h2 span {
  color: var(--main-color);
}

.contact-box p {
  font-size: 1.6rem;
  margin-left: 9rem;
}

.contact-box .desc {
  margin: 1.5rem 0 2.5rem;
}

.contact-box .contact-details {
  display: flex;
  align-items: center;
  margin: 2rem 0;
}

.contact-details i {
  margin-left: 10rem;
  display: inline-flex;
  background: var(--bg-color);
  color: var(--main-color);
  font-size: 2.5rem;
  padding: 1.2rem;
  border-radius: 0.6rem;
  margin-right: 1.5rem;
}

.contact-details .detail p:first-child {
  color: var(--main-color);
}

.contact-box2 form {
  background: var(--bg-color);
  padding: 2.5rem 3.5rem;
  border-radius: 1rem;
  text-align: center;
  margin-top: 9rem;
}

.contact-box2 .heading {
  font-size: 3.5rem;
}

.contact-box2 h2 {
  margin-top: 4rem;
  margin-bottom: 3rem;
}

.contact-box2 .field-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.contact-box2 .field-box textarea {
  grid-column: 1 / -1;
  height: 15 rem;
  resize: none;
}

.contact-box2 .field-box input,
.contact-box2 .field-box textarea {
  padding: 1.5rem;
  background: var(--second-bg-color);
  border: 0.15rem solid var(--bg-color);
  border-radius: 0.6rem;
  font-size: 2rem;
  color: var(--white-color);
}

.contact-box2 .field-box input:focus,
.contact-box2 .field-box textarea:focus {
  border-color: var(--main-color);
}

.contact-box2 .btn {
  margin-top: 2rem;
  cursor: pointer;
  color: var(--main-color);
  border-radius: 2rem;
  font-size: 2.6rem;
  background: var(--second-bg-color);
}

.contact-box2 .btn2 {
  margin-left: 5rem;
  cursor: pointer;
  color: var(--main-color);
  border-radius: 2rem;
  font-size: 2.6rem;
  background: var(--second-bg-color);
}

footer .container {
  background-color: var(--bg-color);
  margin-top: 40rem;
}

footer .row {
  display: flex;
  justify-content: space-between;
  padding: 4rem 10rem;
}

.footer-col ul {
  list-style: none;
}

.footer-col h4 {
  color: var(--white-color);
  font-size: 3rem;
  margin-bottom: 1.5rem;
  position: relative;
}

.footer-col h4::before {
  content: "";
  width: 7rem;
  height: 0.2rem;
  position: absolute;
  background: var(--main-color);
  bottom: -1rem;
}

.footer-col ul li {
  padding: 1rem 0;
}

.footer-col ul li a {
  color: var(--white-color);
  text-decoration: none;
  font-size: 2rem;
  opacity: 0.7;
  transition: 0.5s;
}

.footer-col ul li a:hover {
  color: var(--main-color);
  opacity: 1.5;
}

.footer-col input {
  border: none;
  width: 25rem;
  height: 4.5rem;
  display: block;
  padding-left: 2rem;
  margin: 1.4rem 0;
  font-size: 2rem;
}

.footer-col .inputsubmit {
  padding: 0 2rem;
  background-color: var(--main-color);
  border: none;
  color: black;
  font-size: 2rem;
}

.col p {
  color: var(--white-color);
  font-size: 2.5rem;
}

.footer .col a {
  color: var(--white-color);
}

.row hr {
  color: var(--white-color);
}

.row .social-icons {
  border-radius: 50%;
  margin-top: -1.4rem;
}

.row .social-icons i {
  display: inline-flex;
  padding: 0.8rem;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2.5rem;
  color: var(--main-color);
  margin: 0 0.8rem;
  transition: 0.5s;
}

.row .social-icons i:hover {
  background: var(--main-color);
  color: var(--bg-color);
  box-shadow: 0 0 1rem var(--main-color);
}

.footer-line {
  border: none;
  border-top: 0.1rem solid var(--white-color);
  margin: 3rem 0;
}

.row .col p a {
  color: var(--white-color);
  margin-left: 3rem;
  font-size: 2.5rem;
}

.row .col p a:hover {
  color: var(--main-color);
}

.row .col {
  display: flex;
  gap: 3rem;
}
