* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
}

:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --main-color: #7cf03d;
  --white-color: #fff;
  --disabled-color: #fff3;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--white-color);
  background-color: var(--second-bg-color);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 3rem;
  color: var(--white-color);
  font-weight: 700;
}

nav a {
  font-size: 2rem;
  color: var(--white-color);
  font-weight: 500;
  margin-left: 3.5rem;
  transition: 0.5s;
}

nav a:hover,
nav a.active {
  color: var(--main-color);
}

.resume-box h2 {
  margin: 0 0 1.5rem 9;
  font-size: 3.5rem;
  margin-top: 10rem;
  margin-left: 3rem;
}

.resume-container {
  display: flex;
  grid-template-columns: 1fr 2fr;
  gap: 5rem;
  align-items: start;
}

.resume-box p {
  font-size: 2rem;
  margin: 0;
  max-width: 90%;
  line-height: 1.6;
  margin-left: 3rem;
}

.resume-box .desc {
  margin: 2rem 0 2.5rem;
}

.resume-box .resume-btn {
  width: 70%;
  height: 5.3rem;
  background: var(--bg-color);
  border: 0.2rem solid var(--second-bg-color);
  margin-left: 4rem;
  margin-top: 2rem;
  font-size: 1.6rem;
  color: var(--white-color);
  font-weight: 500;
  margin-bottom: 2rem;
  border-radius: 0.8rem;
  cursor: pointer;
}

.resume-box .resume-btn.active {
  border-color: var(--main-color);
  color: var(--main-color);
}

.resume-box h2 span {
  color: var(--main-color);
}

.resume-box heading {
  font-size: 3.5rem;
  text-align: left;
}

.resume-detail {
  display: none;
}

.resume-detail.active {
  display: block;
}

.resume-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  height: 45rem;
  position: relative;
}

.resume-list::after {
  content: "";
  position: absolute;
  top: 4;
  right: 2rem;
  width: 0.3rem;
  height: 107.5%;
  background: var(--main-color);
  border-radius: 3rem;
  pointer-events: none;
}

.resume-list::before {
  content: "";
  position: absolute;
  top: 0;
  right: 1rem;
  width: 0.4rem;
  height: 100%;
  border-radius: 1rem;
  box-shadow: 0 0 0.8rem rgba(255, 255, 255, 0.4);
}

.resume-list .resume-item {
  background: var(--bg-color);
  border-radius: 0.8rm;
  padding: 3rem 2.5rem;
  height: calc((45rem - 2rem) / 2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 3rem;
  overflow: auto;
}

.resume-list::-webkit-scrollbar {
  width: 0.7rem;
}

.resume-list::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 1rem;
}

.resume-list:hover::-webkit-scrollbar-thumb {
  background: var(--main-color);
}

.resume-item .year {
  color: var(--main-color);
  font-size: 2.5rem;
}

.resume-item h3 {
  font-size: 2.2rem;
}

.resume-item .company {
  position: relative;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.resume-item .company::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0.5rem;
  background: var(--main-color);
  border-radius: 50%;
  margin-left: -2rem;
}
